

/* Style for the container */
.container {
  margin-top: 50px;
  margin: 0 auto;
}

/* Style for the header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopping-mall h1 { 
  font-family: Impact;
  font-size: 50px; color: white;
  letter-spacing: 0.3px;
  text-shadow: 0 0 2px black; 
  padding-bottom: 0px;
  border-bottom: 1px dotted gray;
  margin: 0px; 
}


.shopping-mall h5 {
  font-size: 14px;
  font-weight: normal;
}

/* Style for the navigation bar */

nav {
  margin-top: 20px;
  margin-bottom: 20px;

}

/* Style for the navigation links */
.navbar-nav .nav-link {
  color: white;
}

/* Style for the product cards */
.panel {
  margin-bottom: 20px;
}

.panel-title {
  font-size: 18px;
  font-weight: bold;
}

.panel-footer {
  font-size: 14px;
}

/* Style for the shopping cart */
.poly-cart {
  margin-bottom: 20px;
}

.poly-cart img {
  width: 50px;
}

/* Style for the search bar */
.form-control {
  width: 100%;
}

/* Style for the footer */
.panel-heading {
  font-size: 14px;
}


/* CSS code for the aside section */



aside h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

aside ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

aside li {
  margin-bottom: 5px;
}

aside a {
  color: rgb(62, 62, 62);
  text-decoration: none;
}

aside a:hover {
  text-decoration: underline;
}



footer{
  background-color: darkgrey;
  margin: 0;
}

aside {
  margin-left: 70px;
  border: 1px solid #ccc; /* Tạo viền cho khung */
  padding: 10px; /* Tạo khoảng cách giữa nội dung và viền của phần aside */
  border-radius: 10px; /* Tạo góc bo cho phần aside */
  margin-bottom: 40px;
  margin-top: 20px;
}

.aside {
  float: right;
  width: 30%; /* Điều chỉnh chiều rộng của phần aside */
  background-color: #f2f2f2; /* Thiết lập màu nền cho phần aside */
  padding: 20px; /* Tạo khoảng cách giữa nội dung và viền của phần aside */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng bóng đổ cho phần aside */

}

/* CSS code for the article section */
article {
  float: left;
  width: 70%; /* Adjust the width of the article section */
  background-color: #ffffff; /* Set the background color of the article section */
  padding: 20px; /* Add padding to the article section */
}