

/* Style for the container */
.container {
    margin-top: 50px;
  }
  
  /* Style for the header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .shopping-mall h1 { 
    font-family: Impact;
    font-size: 50px; color: white;
    letter-spacing: 0.3px;
    text-shadow: 0 0 2px black; 
    padding-bottom: 0px;
    border-bottom: 1px dotted gray;
    margin: 0px; 
}

  
  .shopping-mall h5 {
    font-size: 14px;
    font-weight: normal;
  }
  
  /* Style for the navigation bar */
  nav {
    margin-top: 20px;
  }
  
  /* Style for the navigation links */
  .navbar-nav .nav-link {
    color: white;
  }
  
  /* Style for the product cards */
  .panel {
    margin-bottom: 20px;
  }
  
  .panel-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .panel-footer {
    font-size: 14px;
  }
  
  /* Style for the shopping cart */
  .poly-cart {
    margin-bottom: 20px;
  }
  
  .poly-cart img {
    width: 50px;
  }
  
  /* Style for the search bar */
  .form-control {
    width: 100%;
  }
  
  /* Style for the footer */
  .panel-heading {
    font-size: 14px;
  }


  /* CSS code for the aside section */

aside {
    background-color: #f2f2f2;
    padding: 10px;
    width: 200px;
    float: right;
  }
  
  aside h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  aside li {
    margin-bottom: 5px;
  }
  
  aside a {
    color: blue;
    text-decoration: none;
  }
  
  aside a:hover {
    text-decoration: underline;
  }
  
  /* CSS code for the article section */
  
  article {
    float: left;
    width: calc(100% - 220px); /* Trừ đi kích thước của phần aside và padding */
    padding: 10px;
  }
